body
{
    background: linear-gradient(323deg, rgba(3,3,24,1) 21%, rgba(1,1,2,1) 75%);
}
.h1
{
    text-align: center;
    color:white;
    font-size:80px;
    margin: 0 auto;
}
.button
{
    text-align: center;
    color:white;
    font-size:20px;
    margin: 60px auto;
}
.submit
{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 35px;
    background: white;
    color: black;
    border: 2px solid white;
    text-decoration: none;
}
.submit:hover
{
  color:white;
  background:transparent;
}

.fw
{
    display: flex;
    margin-top: 30px;
    text-align: center;
    width:100%;
}
.fw i
{
    margin-left: 25px;
    text-align: center;
    color:white;
    font-size: clamp(1rem,2vw,2rem);
}
.fw i:hover
{
    color:rgb(194, 192, 192);
}
.fi
{
    margin: 0 auto;
    width: 100%;
}
.vamsi
{
    width: 70%;
    height: 50%;
    margin: 0 auto;
    margin-top:8%;
}
.h4
{
    text-align: center;
    color:white;
    font-size: clamp(29px,17px);
    margin-left: 31px;

}
.navbar-brand
{
    font-size: 40px;
}
.nav-link
{
    color:white;
    font-size: 20px;
    margin-right:20px;
}

#fa
{
    color:white;
    font-size: 20px;
}
@media (max-width:991px)
{
    .sidebar
    {
        background-color: #212529;
    }
    .h1
    {
        text-align: center;
        color:white;
        font-size:45px;
        margin: 0 auto;
    }
  .vamsi
  { 
        width: 70%;
        height: 50%;
        margin: 0 auto;
        margin-top:20%;
  }
}